*{
  box-sizing: border-box;
}

:root{
  background-color: $clr-lightpink;
}
  body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;


  .main, .footer{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: $clr-pink;
  }


  img{
    width: 100%;
  }

  a{
    color: $clr-white;
    text-decoration: none;
  }
}



