$clr-gray: #a39e9b;
$clr-black: #010005;
$clr-white: #f9fef8;
$clr-pink: #f4abb2;
$clr-maroon: #ec6164;
$clr-pinky: #ffbeaa;
$clr-lightpink: #fce8e1;
$clr-lightbrown: #ebc1b1;
$clr-lightyellow: #fdfcce;