
.main-header{
  margin: 0;
  padding: 1px;


 .surp{
   background-image: url('../img/5 copy.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   display: block; 
  }
.fash{
  margin: 0;
  padding: 0;
  position: relative;

  .del{
    font-size: 1rem;
    font-family: cursive;
    color: darken($clr-maroon, 35);
    font-weight: bold;

    @include mq(30em){
      font-size: 1.5rem;
    }

  }

  .cle{
    font-family: 'Lucida Sans', sans-serif;
    font-size: 13px;

    @include mq(30em){
      font-size: 14px;
    }
  }

  .shop{
    position: absolute;
    top: 0px;
    right: 2px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: lighten($clr-lightpink, 4);

    @include mq (30rem){
      position: absolute;
      top: 5px;
      right: 35px;
      width: 33%;
      padding: 5px;
      border-radius: 20px;
    }

    a{
      text-decoration: underline;
      display: block;
      font-size: 12px;
      color: darken($clr-black, 1);
      }

      p{
        margin: 2px;
        font-size: 20px;
        color: darken($clr-lightbrown, 25);
        font-family: courier sans-serif;
      }

      span{
        color: darken( $clr-lightyellow, 60);
        font-family: cursive;
      }
  }
  .mane{
    background-color: $clr-black;
    margin-top: 3rem;
    padding: 1px;

    ul{
      margin: 0;
      padding: 0;

      @include mq(30rem){
        display: flex;
        align-items: center;
      }

      li{
        list-style: none;
        position: relative;
        border-bottom: 1px dotted $clr-white;

        @include mq(30rem){
          border: 0;
         flex-basis: 20%;
        }

        @include mq(30rem){
          &::before{
            content: '|';
            display: inline-block;
            color: white;
            position: absolute;
            top: 0;
            left: 0;

          }

          &:nth-child(1)::before{
            content: '';
              }
          &::nth-child(5){
            letter-spacing: normal;
          }
          }

        a{
          text-align: center;
          display: block;
          padding: 2px 3px;

          @include mq(30rem){
            
          }
        }
      }
    }
  }
  .pics{
    margin:0;
    padding: 0;
    position: relative;
    background-color: $clr-pink;

    @include mq(30rem){
      margin-top: 4rem;
    }

    h5{
      font-family: Arial, Helvetica, sans-serif;

      @include mq(30rem){
        margin: 0;
        width: 1rem;
        padding-left: 5px;
        z-index: 2;
        position: absolute;
      }
    }
  }
}
}
 