.woman{
  background-color: $clr-gray;
}
.woma{
  margin: 0;
  padding: 2px;

  h1{
    color: lighten($clr-darkgreen, 12);
    text-align: center;
    font-family: cursive;
    font-size: 1rem;

    @include mq( 30rem){
      font-size: 1.5rem;
    }
  }
}

.ter{
  padding: 1px;
  margin: 0;

  h3, h4{
    color: lighten($clr-darkgreen, 12);
    text-align: center;
    font-family: cursive;
    font-size: 1rem;
    text-transform: uppercase;

    @include mq( 30rem){
      font-size: 1.1rem;
    }
  }

  .tree{
    padding: 1px;
    margin: 0;

    .tree-0{
    

      @include mq( 30rem){
        margin-left: 3px;
      }
      .car{
        float: left;
        width: 50%;
        margin-right: 10px;

        @include mq( 30rem){
          margin-right: 10px;
        }
      }
    }

    .tree-1{
      padding: 1px;

      @include mq( 30rem){
        margin-left: 2px;
      }

      .be{
        float: left;
        width: 50%;
        margin-right: 10px;
        margin-bottom: 1px;

        @include mq( 30rem){
          margin-right: 8px;
          
        }
      }
    }
  }
}


.afri{
  margin: 0;

  h2{
    font-family: Georgia, 'Times New Roman', Times, serif sans-serif;
    font-size: 1rem;
    color: lighten($clr-darkgreen, 12);
    text-align: center;

    @include mq( 30rem){
      font-size: 1.5rem;
    }

    .afro{
      padding: 1px;
    }
  }
 
}

.speci{
  padding: 1px;
  margin: 0;

  h2{
    padding: 10px;
    color: $clr-white;
    text-align: left;
    font-size: 1rem;
    background-color: $clr-darkgreen;
    font-family: Tahoma, sans-serif;

    @include mq( 30rem){
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }
}

.divi{
  padding: 3px;

  @include mq( 30rem){
    padding: 5px;
  }

  .divi-1{
    padding: 5px;

    @include mq( 30rem){
      padding: 10px;
    }
  h3{
    text-align: left;
    text-transform: capitalize;
  }

  ul{
    margin: 10px;
    list-style: none;

    li{
      padding: 1px;

      &::before{
        content: '\203a';
        margin-right: 8px; 
        font-weight: bold;
        font-size: 20px;
  
      }

      a{
        color: darken($clr-maroon, 70);
        display: inline-block;
    }

  }
  }
}
.divi-2{
  padding: 5px;
  position: relative;
  counter-reset: nam;

  @include mq( 30rem){
    padding: 8px;
  }

  p{
    &::before{
      counter-increment: nam;
      content: counter(nam)'';
      font-weight: 50;
      width: 10px;
      height: 10px;
      padding: 10px;
      margin-right: 10px;
      border: 1px solid $clr-black;
      border-radius: 50%;
      background-color: $clr-white;
      display: inline-block;
      text-align: center;
      line-height: 10px;

      
    }
    

  }

}
}