.wrap{
  background-color: $clr-white;

  .cant{
    
  .sider{
    background-color: darken($clr-pink, 3);

    h2{
      margin-top: 0;
      padding: 5px;
      text-align: center;
      font-size: 1.6rem;
      background-color: lighten($clr-gray, 25);
      font-family: robote sans-serif;
    }

    ul{
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        position: relative;
        padding: 14px;
        border-bottom: 1px dotted $clr-white;


        &::before{
          content: '\203a';
          position: absolute;
          font-size: 22px;
          top: 9px;
          left: 3rem;
    
        }
       

        a{
          display: block;
          text-align: center;
          font-family: fantasy sans-serif;
         
        }
      }
    }
  }
 .water{
   margin-top: 2px;
  background-color: darken($clr-white, 2);

  .season{
  padding: 10px;
  line-height: 1.4;
  background-color: darken($clr-pink, 3);

  h2{
    margin-top: 0;
  }
  }

  .collec{
    margin-top: 2px;
    flex-direction: row;
    justify-content: space-between;
    background-color: darken($clr-pink, 3);

    @include mq(30rem){
      display: flex;
    }

    .new{
      flex: 1;
      height: 50%;
      padding: 8px;

      h3{
        margin-top: 0;
        font-size: 1.2rem;
        font-family: Georgia sans-serif;
      }

      ul{
        margin: -10px 0 0;
        padding: 0;
        li{
          list-style: none;
          &::before{
            content: '';
            display:inline-block;
            width: 4px;
            height: 4px;
            background-color: $clr-black;
            border-radius: 2px;
            margin-right: 5px;
          }

          a{
            font-size: 14px;
            font-family: cursive;
            display: inline-block;
            color: $clr-black;
        }
       }
      }
      p{
        font-size: 13px;

        @include mq(30rem){
          font-size: 16px;
        }

        a{
          color: $clr-white;
          font-family: cursive;
        }
      }
    }
    .collect{
      flex: 2;
      height: 40%;
      padding: 3px;
    }
    .phot{
      flex: 1;
      height: 40%;
      margin: 0;
    }
  }
 }
}
}